{% extends 'base.html' %}
{% block content %}
<h1>We are located in  Kakamega Region</h1>
<p>

CareSync is an innovative clinic management system designed to simplify and streamline patient care. Our platform enables clinics to efficiently register new patients, manage appointments, and track returning patients, all while enhancing communication and service delivery. With a user-friendly interface and integrated feedback systems, CareSync ensures a seamless healthcare experience for both patients and providers.
    
</p>
{% endblock %}
