{% extends 'base.html' %}
{% block content %}
<h1>We are located in Nairobi region </h1>
<p>
 Thika Sams Hospital, located in the heart of Nairobi, has been a beacon of quality healthcare and compassion since its establishment in [Year]. With a commitment to providing accessible and patient-centered medical services, the hospital specializes in [list key specialties, e.g., general medicine, pediatrics, cardiology, etc.].

Equipped with state-of-the-art facilities and a dedicated team of experienced medical professionals, Thiks Sams Hospital offers a wide range of services, including outpatient care, inpatient services, diagnostics, and emergency response. The hospital prides itself on blending advanced medical technology with a personalized approach to meet the unique needs of every patient.

Our mission is to enhance community health by delivering exceptional care, fostering innovation, and building trust through transparency and excellence in service delivery.

At Thika Sams Hospital, your health is our priority.
</p>








</p>
{% endblock %}
