{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Billing</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Patient</th>
                <th>Amount Due</th>
                <th>Amount Paid</th>
                <th>Balance</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in billing %}
            <tr>
                <td>{{ bill.patient.first_name }} {{ bill.patient.last_name }}</td>
                <td>{{ bill.amount_due }}</td>
                <td>{{ bill.amount_paid }}</td>
                <td>{{ bill.balance_due }}</td>
                <td>{{ bill.payment_status }}</td>
                <td>
                    <a href="{% url 'create_bill' %}" class="btn btn-success mb-3">Add New Bill</a>

                    <a href="{% url 'pay_bill' bill.id %}" class="btn btn-primary">Pay</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
